@if (visible) {
  <div class="dropi-modal-backdrop" (click)="onBackdropClick()">
    <div
      class="dropi-modal"
      [style.width]="width"
      role="dialog"
      aria-modal="true"
      [attr.aria-label]="header"
      (click)="$event.stopPropagation()"
    >
      <div class="dropi-modal__header">
        <h2 class="dropi-modal__title">{{ header }}</h2>
        @if (closable) {
          <button type="button" class="dropi-modal__close" (click)="close()" aria-label="Cerrar">
            <i class="pi pi-times"></i>
          </button>
        }
      </div>
      <div class="dropi-modal__body">
        <ng-content></ng-content>
      </div>
      <div class="dropi-modal__footer">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </div>
}
